
# Created by https://www.gitignore.io/api/ansible,vagrant,visualstudiocode

### Ansible ###
*.retry

### Vagrant ###
# General
tests/.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

### Vagrant Patch ###
*.box

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Git ###
*.orig

# End of https://www.gitignore.io/api/ansible,vagrant,visualstudiocode